<%= render "layouts/header" %>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">Marktplatz</h2>
    <div class="row center">
      <h5 class="header col s12 light">O botão abaixo redireciona para o site do materialize,<br>
        já configurado na nossa aplicação. Basta aplicar as mesmas classes dos exemplos que o estilo é aplicado automaticamente.</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>
    <div class="row center">
      <h5 class="header col s12 light">Se você está responsável pela apresentação de produtos, você deve mostrá-los nessa página "Index".<br>
        Ou fazer a alteração de todas as rotas para que a página de produtos(vitrine) seja a principal</h5>
    </div>
  </div>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Quem somos</h5>
        <p class="grey-text text-lighten-4 text-justify">Somos um time engajado em oferecer a melhor experiência para nossos clientes. Por meio de nossa plataforma online oferecemos os melhores produtos e serviços virtuais através de licensas. Nossos vendedores passam por um rigoroso processo de análise ao se cadastrar em nossa plataforma para garantirmos toda a segurança e qualidade de nossos serviços.</p>


      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Acesse nossas redes sociais</h5>
        <ul>
          <li class="link">
            <a class="white-text valign-wrapper" href="https://web.whatsapp.com/"><%= image_tag 'svg/whatsapp.svg', class:'network-icon' %>WhatsApp</a>
          </li>
          <li class="link">
            <a class="white-text valign-wrapper" href="https://www.facebook.com/"><%= image_tag 'svg/facebook.svg', class:'network-icon' %>Facebook</a>
          </li>
          <li class="link">
            <a class="white-text valign-wrapper" href="https://www.instagram.com/?hl=pt-br"><%= image_tag 'svg/instagram.svg', class:'network-icon' %>Instagram</a>
          </li>
          <li class="link">
          <a class="white-text valign-wrapper" href="https://github.com/ErickGushiken/si_project"><%= image_tag 'svg/github.svg', class:'network-icon' %>GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Feito por <a class="orange-text text-lighten-3" href="https://github.com/ErickGushiken/si_project">SIProject</a>
    </div>
  </div>
</footer>