<%= render "layouts/header" %>

<p id="notice"><%= notice %></p>

<div class="produto-index-grid pt4">
  <% @produtos.each do |produto| %>

    <div class="produto border-light">
      <div class="produto-thumb">
      <%= link_to image_tag(produto.image_url(:thumb)), produto %>
      </div>


    <div class="pa3">

      <p class="fw7 f4 title"><%= link_to produto.nome, produto %></p>

      <p class="f3 fw6 has-text-right pt2 valor"><%= number_to_currency(produto.valor) %></p>

      <%= link_to 'Edit', edit_produto_path(produto), class: "button is-small" %>
      <%= link_to 'Delete', produto, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Produto', new_produto_path %>
