<p id="notice"><%= notice %></p>
<%= render "layouts/header" %>

<h2>
  <%= @produto.nome %>
</h2>

<div class="produto-thumb">
      <%= image_tag(@produto.image_url(:thumb)) %>
</div>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Preço:</strong>
  <%= number_to_currency(@produto.valor) %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<% if current_user %>
  <% if current_user.tipo==2 %>
    <%= link_to 'Delete', @produto, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
  <% end %> 
  <% if current_user.tipo==0 %>
    <% if current_user.documento == @produto.user_id %>
      <%= link_to 'Edit', edit_produto_path(@produto), class:"btn waves-effect" %>
      <%= link_to 'Delete', @produto, method: :delete, data: { confirm: "Are you sure ?" }, class:"btn waves-effect" %>
    <% end %>
  <% end %>
  <% if current_user.tipo==1 %>
    <%= link_to "Adicionar ao Carrinho", line_items_path(produto_id: @produto), class:"btn waves-effect" %>
  <% end %> 
<% end %>

<%= link_to 'Voltar', produtos_path, class:"btn waves-effect" %>
