<p id="notice"><%= notice %></p>
<%= render "layouts/header" %>

<h2>
  <%= @produto.nome %>
</h2>

<div class="produto-thumb">
      <%= image_tag(@produto.image_url(:thumb)) %>
</div>

<p>
  <strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Preço:</strong>
  <%= number_to_currency(@produto.valor) %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
