<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
    <span class="helper-text"><% user.errors[:email].each do |message| %>
        <%= message %>
      <% end %>
    </span>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
    <span class="helper-text"><% user.errors[:nome].each do |message| %>
        <%= message %>
      <% end %>
    </span>
  </div>

  <div class="field">
    <%= form.label 'Data de nascimento: ' %>
    <%= form.text_field :data_nasc, 'data-behaviour' => 'datepicker' %><br />
    <span class="helper-text"><% user.errors[:data_nasc].each do |message| %>
        <%= message %>
      <% end %>
    </span>
  </div>  

  <div class="field">
    <% if @user.tipo==1 %>
      <%= form.label 'CPF:' %>
    <% end %>
    <% if @user.tipo==0 %>
      <%= form.label 'CNPJ: ' %>
    <% end %>
    <%= form.text_field :documento %>
    <span class="helper-text"><% user.errors[:documento].each do |message| %>
        <%= message %>
      <% end %>
    </span>
  </div>

  <div class="field">
  <%= form.label 'Senha: ' %>
    <%= form.password_field :password %>
    <span class="helper-text"><% user.errors[:password].each do |message| %>
        <%= message %>
      <% end %>
    </span>
  </div>

  <div class="field">
  <%= form.label 'Confirmação de senha: ' %>
    <%= form.password_field :password_confirmation %>
    <span class="helper-text"><% user.errors[:password_confirmation].each do |message| %>
        <%= message %>
      <% end %>
    </span>
  </div>

  <%= form.hidden_field :tipo, :value => @user.tipo %>
  
  <div class="actions center-align">
    <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
