<div id="sign-up">
    <div class="card-sign-up">
        <div class="form-container">
            <div class="image-container">
                <%= link_to "Marktplatz", root_path, class:"header center orange-text root-logo" %> 
                <% if @user.tipo==1 %>
                    <%= image_tag 'seller-cartoon.png', class:'image' %>
                <% end %>            
                <% if @user.tipo==0 %>
                    <%= image_tag 'shop-cartoon.png', class:'image' %>
                <% end %>
            </div>
            <div class="form">
                <%= render 'form', user: @user, user_role: @user.tipo %>   
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="options-row">
            <% if @user.tipo==0 %>
                <%= link_to "Cadastre-se como comprador", signup_path(:type=> "consumer"), class:"waves-effect waves-light btn-small center-align" %> 
            <% end %>
            <% if @user.tipo==1 %>
                <%= link_to "Cadastre-se como vendedor", signup_path(:type=> "seller"), class:"waves-effect waves-light btn-small" %> 
            <% end %> 
            <br>
            <%= link_to 'Voltar', root_path, class:"waves-effect waves-light btn-small" %>
            <br>
        </div> 
    </div>
</div>
